
<link rel="stylesheet" href="/public/stylesheets/style.css">

<div class="contenedor_nov">
    
    <div class="row">
        <p>Hola {{usuario}} <a href="/admin/login/logout">Cerrar sesión <i></i></a></p>
    </div>

    <div class="row">
        <div>
            <h2>Listado de novedades</h2>
        </div>
        <div>
            <a href="/admin/novedades/agregar"> <i aria-hidden="true"></i>Nuevo</a>
        </div>

    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Subtitulo</th>
            </tr>

        </thead>

        <tbody>
        {{#each novedades}}
            <tr>            
                <th> {{id}} </th>
                <td> {{titulo}} </td>
                <td> {{subtitulo}} </td>
                <td>
                    <div> 
                        <a href="/admin/novedades/eliminar/{{id}}"> <i aria-hidden="true"></i>Eliminar</a>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    
    </table>
    

</div>